/*.layout_component_child_wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}*/

.layout_component_child_wrapper {
  width: 100%;
}

body {
  margin-bottom: 100px !important;
}

/*.layout_component_child_wrapper {
  margin-top: 60px;
}*/

*::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  background-color: #F5F5F5;
  padding: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: #888888;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: #F5F5F5;
}

